# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/

# wifi Access Point Credentials
wifi_ap_ssid: ssid
wifi_ap_pw: super_secret_password

wifi_makeracademy_ssid: ssid
wifi_makeracademy_pw: super_secret_password

wifi_protohaus_ssid: ssid
wifi_protohaus_pw: super_secret_password

# Node red credentials
node_red_admin_usr: username
node_red_admin_pw: super_secret_password
node_red_credential_secret: super_secret_password

# Samba Share credentials
smb_share_usr: username
smb_share_pw: super_secret_password

# MQTT Broker
mqtt_usr: username
mqtt_pw: super_secret_password

# Host configuration
host_name: hostname
host_eth0_static_ip: 192.168.1.1
host_wlan0_static_ip: 192.168.2.1
host_wlan0_netmask: 255.255.255.0
host_wlan0_broadcast: 192.168.2.255
host_wlan0_dhcp_start_addr: 192.168.2.10
host_wlan0_dhcp_end_addr: 192.168.2.99
host_wlan0_client_internet_access: 1

# Web Server
web_server_user: admin
web_server_password: super_secret_password

#Device Tracker
device_tracker_hosts_range: 192.168.2.1/24

#ESP Home
esphome_api_pw: super_secret_password
esphome_ota_pw: super_secret_password
esphome_fallback_ap_pw: super_secret_password

#mariadb
mariadb_user: user
mariadb_pw: super_secret_password
mariadb_url: mysql://user:super_secret_password@core-mariadb/homeassistant?charset=utf8mb4
#mariadb_url: mysql://user:password@SERVER_IP/DB_NAME?charset=utf8mb4

#influxdb
influxdb_user: homeassistant
influxdb_pw: super_secret_password
influxdb_url: url

#fabman
fabman_access_url: "https://fabman.io/api/v1/members?keyType=nfca&keyToken=<INCLUDE_CARD_TOKEN_HERE>&embed=activePackages"
fabman_access_token: "Bearer XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"